<div class="jumbotron">
  <h1>HELP PAGE</h1>
<p>THIS PAGE IS FOR HELP</p>
</div>
<ul class="list-group">
  <li class="list-group-item"><a href="http://ruby.railstutorial.org/">Click here for tutorial help</a></li>
  <li class="list-group-item"><a href="http://www.bootstrap.com">Click here for bootstrap site</a></li>
  <li class="list-group-item">HARIHARAN</li>
  <li class="list-group-item">HARI</li>
  <li class="list-group-item">HAARIS</li>
</ul>


