<div class="jumbotron">
  <h1>HOME PAGE</h1>
<p>THIS IS BOOTSTRAP MODIFIED SITE</p>
  <p><a class="btn btn-success btn-lg" role="button">WELCOME</a></p>
</div>
<div class= "center">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag("Hari.jpg", :size => "180x50", :alt => "Hari") %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag("Hari1.JPG", :size => "180x50", :alt => "Hari") %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag("Hari2.JPG", :size => "180x50", :alt => "Hari") %>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag("Hari.jpg", :size => "180x50", :alt => "Hari") %>
    </a>
  </div>
</div>
</div>
